* {
    padding: 0;
    margin: 0;
    --left-padding: 50px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    background-image: url("solarpunk.webp"), linear-gradient(90deg, #e8ebd8, #f0f1df, #eef1db);
    background-repeat: no-repeat;
	height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

a {
	text-decoration: none;
}

.right-side-container {
    box-sizing: border-box;
    background-color: #d8e9d699;
    max-width: 700px;
    padding-top: 130px;
    padding-bottom: 90px;
	flex-grow: 1;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;z
}  

.quote-container {
    padding-left: var(--left-padding);
	padding-right: 50px;
    font-size: 1.5rem;
    font-weight: bold;
}

.my-form input {
    display: block;
    font-size: 0.9rem;
    width: 250px;
	height: 35px;    
    border-radius: 5px;
    margin-right: 10px;
	box-sizing: border-box;
	padding: 0px 10px;
}

.my-form label {
    font-size: 0.7rem;
	font-weight: bold;
    text-transform: uppercase;
}  

.my-form input:invalid {
	border: 1px solid red;
}

.my-form input:valid {
	border: 1px solid #6c9b92;
}

.my-form input:focus {
	outline: none;
	border: 2px solid #6c9b92;
	box-shadow: 0 0 10px #719ECE;
}

.quote-container > p:first-of-type {
    margin-bottom: 30px
}

.quote-container > p:last-of-type {
    margin-bottom: 60px
}

.form-content {
    background-color: #f0f1df;
    padding: 20px 20px 40px var(--left-padding);
    margin-bottom: 30px;
	box-shadow: 0 5px 10px #6c9b92;
}

.my-form h2 {
    margin-bottom: 20px;
}

.my-form button,
.my-form + p {
    margin-left: var(--left-padding);    
}

.my-form button {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: white;
    background-color: #567b74;
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
}

.my-form + p {
    font-size: 1.2rem;
}

footer {
    height: 50px;
}

