* {
    padding: 0;
    margin: 0;
    --left-padding: 50px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    background-image: url("solarpunk.webp"), linear-gradient(90deg, #e8ebd8, #f0f1df, #eef1db);
    background-repeat: no-repeat;
	height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.right-side-container {
    box-sizing: border-box;
    background-color: aquamarine;
    max-width: 800px;
    padding-top: 130px;
    padding-bottom: 90px;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}  

.quote-container {
    padding-left: var(--left-padding);
    font-size: 1.5rem;
    font-weight: bold;
}

.my-form input {
    display: block;
    font-size: 1.5rem;
    width: 250px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-right: 50px;
}

.my-form label {
    font-size: 0.9rem;
    text-transform: uppercase;
}  

.quote-container > p:first-of-type {
    margin-bottom: 30px
}

.quote-container > p:last-of-type {
    margin-bottom: 60px
}

.form-content {
    background-color: cadetblue;
    padding: 20px var(--left-padding) 30px;
    margin-bottom: 30px;
}

.my-form h2 {
    margin-bottom: 20px;
}

.my-form button,
.my-form + p {
    margin-left: var(--left-padding);    
}

.my-form button {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: white;
    background-color: blue;
    padding: 15px 60px;
    border: 1px solid green;
    border-radius: 10px;
    margin-bottom: 40px;
}

.my-form + p {
    font-size: 1.2rem;
}

footer {
    height: 50px;
}

